<article class="mt-4">
  <div class="flex justify-center items-center gap-10 flex-wrap">
    <img src="/assets/screenshots/vdlogisticsWeb1.png" alt="Screenshot Login VD Logistics Web" class="max-w-[80%] md:max-w-[50%] 2xl:max-w-[20%]">
    <div class="flex flex-col md:max-w-[80%] 2xl:max-w-[50%]">
      <p>{{ "projects.vdlogisticsWeb.paragraph1" | translate }}</p>
      <p>{{ "projects.vdlogisticsWeb.paragraph2" | translate }}</p>
      <p>{{ "projects.vdlogisticsWeb.paragraph3" | translate }}</p>
      <p>{{ "projects.vdlogisticsWeb.paragraph4" | translate }}</p>
      <p>{{ "projects.vdlogisticsWeb.paragraph5" | translate }}</p>
      <p>{{ "projects.vdlogisticsWeb.paragraph6" | translate }}</p>
      <a href="https://github.com/vdjoseluis/vd-logistics-web" target="_blank" class="flex gap-2 title-color pt-6 hover:underline" matTooltip="{{'visitRepository'| translate}}"><mat-icon>code</mat-icon>  https://github.com/vdjoseluis/vd-logistics-web</a>
    </div>
    <img src="/assets/screenshots/vdlogisticsWeb2.png" alt="Screenshot Home VD Logistics Web" class="md:max-w-[60%] 2xl:max-w-[30%]">
    <img src="/assets/screenshots/vdlogisticsWeb3.png" alt="Screenshot Form VD Logistics Web" class="md:max-w-[60%] 2xl:max-w-[30%]">
  </div>
</article>