<article class="mt-4">
  <div class="flex justify-center items-center gap-10 flex-wrap">
    <img
      src="/assets/screenshots/codeAndCocktails1.png"
      alt="Screenshot Code & Cocktails app"
      class="md:max-w-[60%] 2xl:max-w-[35%]"
    />
    <div class="flex flex-col md:max-w-[80%] 2xl:max-w-[35%]">
      <a
        href="https://code-cocktails-vd.vercel.app/"
        target="_blank"
        class="flex gap-2 title-color pb-6 hover:underline"
        matTooltip="{{ 'visitWebsite' | translate }}"
        ><mat-icon>language</mat-icon> https://code-cocktails-vd.vercel.app/</a
      >
      <p>{{ "projects.codeAndCocktails.paragraph1" | translate }}</p>
      <p>{{ "projects.codeAndCocktails.paragraph2" | translate }}</p>
      <p>{{ "projects.codeAndCocktails.paragraph3" | translate }}</p>
      <p>{{ "projects.codeAndCocktails.paragraph4" | translate }}</p>
      <p>{{ "projects.codeAndCocktails.paragraph5" | translate }}</p>
      <p>{{ "projects.codeAndCocktails.paragraph6" | translate }}</p>
      <a
        href="https://github.com/vdjoseluis/code-cocktails"
        target="_blank"
        class="flex gap-2 title-color pt-6 hover:underline"
        matTooltip="{{ 'visitRepository' | translate }}"
      >
        <mat-icon>code</mat-icon>
        https://github.com/vdjoseluis/code-cocktails</a
      >
    </div>
    <img
      src="/assets/screenshots/codeAndCocktails2.png"
      alt="Screenshot Code & Cocktails app"
      class="md:max-w-[60%] 2xl:max-w-[35%]"
    />
    <img
      src="/assets/screenshots/codeAndCocktails3.png"
      alt="Screenshot Code & Cocktails app"
      class="md:max-w-[60%] 2xl:max-w-[35%]"
    />
  </div>
</article>
