<section
  class="flex flex-col items-center justify-center w-full xl:max-w-[80%] xl:h-[85vh] mx-auto py-16 px-4 shadow-2xl shadow-slate-500 rounded-b-3xl"
>
  <h1 class="text-3xl md:text-4xl sm:tracking-widest ps-6 mb-4 title-color">{{ "contact.title" | translate }}</h1>
  <p class="text-xl tracking-widest ps-6 my-6">{{ "contact.paragraph" | translate }}</p>
  <article class="flex flex-col justify-center border-4 border-slate-500 rounded-4xl py-14 px-10 sm:px-24 gap-6">
    <div class="flex items-center">
      <img src="/assets/logos/linkedin.svg" alt="Logo Linkedin" class="h-12">
      <a class="text-xl tracking-widest ps-6 hover:underline" href="https://www.linkedin.com/in/vdjoseluis/" target="_blank" aria-label="Ir al perfil de Linkedin">in/vdjoseluis</a>
    </div>
    <div class="flex items-center">
      <img src="/assets/logos/Github.svg" alt="Logo Github" class="h-12">
      <a class="text-xl tracking-widest ps-6 hover:underline" href="https://github.com/vdjoseluis" target="_blank" aria-label="Ir al perfil de Github">github.com/vdjoseluis</a>
    </div>
    <div class="flex items-center">
      <img src="/assets/logos/phone.svg" alt="Logo Phone" class="h-10" aria-label="Número de teléfono">
      <span class="text-xl tracking-widest ps-6">+34 622 161 340</span>
    </div>
    <div class="flex items-center">
      <img src="/assets/logos/email.svg" alt="Logo Email" class="h-12" aria-label="Correo electrónico">
      <span class="text-xl tracking-widest ps-6">vdjoseluis&#64;outlook.com</span>
    </div>
  </article>
  <span class="flex gap-2 title-color mt-6 text-lg"><mat-icon>engineering</mat-icon>{{ "portfolioMessage" | translate }}</span>
</section>
