<article class="mt-4">
  <div class="flex justify-center items-center gap-10 flex-wrap">
    <img src="/assets/screenshots/vdlogisticsMobile1.png" alt="Screenshot Login VD Logistics Mobile" class="max-w-[75%] md:max-w-[35%] 2xl:max-w-[20%]">
    <div class="flex flex-col md:max-w-[80%] 2xl:max-w-[50%]">
      <p>{{ "projects.vdlogisticsMobile.paragraph1" | translate }}</p>
      <p>{{ "projects.vdlogisticsMobile.paragraph2" | translate }}</p>
      <p>{{ "projects.vdlogisticsMobile.paragraph3" | translate }}</p>
      <p>{{ "projects.vdlogisticsMobile.paragraph4" | translate }}</p>
      <p>{{ "projects.vdlogisticsMobile.paragraph5" | translate }}</p>
      <p>{{ "projects.vdlogisticsMobile.paragraph6" | translate }}</p>
      <a href="https://github.com/vdjoseluis/vd-logistics-mobile" target="_blank" class="flex gap-2 title-color pt-6 hover:underline" matTooltip="{{'visitRepository'| translate}}"><mat-icon>code</mat-icon>  https://github.com/vdjoseluis/vd-logistics-mobile</a>
    </div>
    <img src="/assets/screenshots/vdlogisticsMobile2.png" alt="Screenshot Home VD Logistics Mobile" class="md:max-w-[50%] 2xl:max-w-[25%]">
  </div>
</article>