<section
  class="flex flex-col items-center justify-center w-full xl:max-w-[80%] mx-auto py-16 px-4 shadow-2xl shadow-slate-500 rounded-b-3xl"
>
  <h1
    class="text-center typing-animation text-2xl md:text-3xl tracking-widest font-medium mb-8 title-color"
  >
    {{ "welcomeMessage" | translate }}
    <span class="text-3xl md:text-4xl font-semibold">José Luis !</span>
  </h1>
  <div class="flex flex-col lg:flex-row justify-around px-4">
    <article class="flex flex-col items-center lg:gap-6">
      <img src="foto.png" alt="My photo" class="md:h-80 rounded-full" />
      <a
        routerLink="/"
        class="tracking-wide lg:text-lg font-medium hover:underline"
        matTooltip="{{ 'downloadMessage' | translate }}"
        >Curriculum</a
      >
    </article>

    <article
      #paragraphsContainer
      class="flex flex-col lg:w-[60%] text-justify text-md xl:text-lg xl:tracking-wider xl:px-6 my-6 opacity-0 transition-opacity duration-2000 ease-in-out"
    >
      <p class="lg:mb-4">
        {{ "aboutText.paragraph1" | translate }}
      </p>
      <p class="lg:mb-4">
        {{ "aboutText.paragraph2" | translate }}
      </p>
      <p class="lg:mb-4">
        {{ "aboutText.paragraph3" | translate }}
        <span class="font-semibold">Angular - React</span>
      </p>
      <p class="lg:mb-10">
        {{ "aboutText.paragraph4" | translate }}
      </p>

      <h2 class="font-semibold my-4 title-color">{{ "languages.title" | translate }}</h2>
      <ul class="list-disc list-inside">
        <li>{{ "languages.spanish" | translate }}</li>
        <li>{{ "languages.english" | translate }}</li>
        <li>{{ "languages.italian" | translate }}</li>
        <li>{{ "languages.french" | translate }}</li>
      </ul>
    </article>
  </div>
</section>

