<article class="mt-4">
  <div class="flex justify-center items-center gap-10 flex-wrap">
    <img src="/assets/screenshots/countries1.png" alt="Screenshot Countries app" class="md:max-w-[80%] 2xl:max-w-[35%]">
    <div class="flex flex-col md:max-w-[80%] 2xl:max-w-[35%]">
      <a href="https://countries-app-rust-two.vercel.app/" target="_blank" class="flex gap-2 title-color pb-6 hover:underline" matTooltip="{{'visitWebsite'| translate}}"><mat-icon>language</mat-icon> https://countries-app-rust-two.vercel.app/</a>
      <p>{{ "projects.countriesApp.paragraph1" | translate }}</p>
      <p>{{ "projects.countriesApp.paragraph2" | translate }}</p>
      <p>{{ "projects.countriesApp.paragraph3" | translate }}</p>
      <p>{{ "projects.countriesApp.paragraph4" | translate }}</p>
      <p>{{ "projects.countriesApp.paragraph5" | translate }}</p>
      <p>{{ "projects.countriesApp.paragraph6" | translate }}</p>
      <a href="https://github.com/vdjoseluis/countries-app" target="_blank" class="flex gap-2 title-color pt-6 hover:underline" matTooltip="{{'visitRepository'| translate}}"><mat-icon>code</mat-icon>  https://github.com/vdjoseluis/countries-app</a>
    </div>
    <img src="/assets/screenshots/countries2.png" alt="Screenshot Countries app" class="md:max-w-[80%] 2xl:max-w-[35%]">
    <img src="/assets/screenshots/countries3.png" alt="Screenshot Countries app" class="md:max-w-[80%] 2xl:max-w-[35%]">
  </div>
</article>