<article class="mt-4">
  <div class="flex justify-center items-center gap-10 flex-wrap">
    <img src="/assets/screenshots/sophies1.png" alt="Screenshot Sophies Burgers app" class="md:max-w-[80%] 2xl:max-w-[35%]">
    <div class="flex flex-col md:max-w-[80%] 2xl:max-w-[35%]">
      <a href="https://sophies-burgers.vercel.app/" target="_blank" class="flex gap-2 title-color pb-6 hover:underline" matTooltip="{{'visitWebsite'| translate}}"><mat-icon>language</mat-icon>  https://sophies-burgers.vercel.app/</a>
      <p>{{ "projects.sophiesBurgers.paragraph1" | translate }}</p>
      <p>{{ "projects.sophiesBurgers.paragraph2" | translate }}</p>
      <p>{{ "projects.sophiesBurgers.paragraph3" | translate }}</p>
      <p>{{ "projects.sophiesBurgers.paragraph4" | translate }}</p>
      <p>{{ "projects.sophiesBurgers.paragraph5" | translate }}</p>
      <p>{{ "projects.sophiesBurgers.paragraph6" | translate }}</p>
      <a href="https://github.com/vdjoseluis/sophies-burgers" target="_blank" class="flex gap-2 title-color pt-6 hover:underline" matTooltip="{{'visitRepository'| translate}}"> <mat-icon>code</mat-icon>  https://github.com/vdjoseluis/sophies-burgers</a>
    </div>
    <img src="/assets/screenshots/sophies2.png" alt="Screenshot Sophies Burgers app" class="md:max-w-[80%] 2xl:max-w-[35%]">
    <img src="/assets/screenshots/sophies3.png" alt="Screenshot Sophies Burgers app" class="md:max-w-[80%] 2xl:max-w-[35%]">
  </div>
</article>