<article class="mt-4">
  <div class="flex justify-center items-center gap-10 flex-wrap">
    <img src="/assets/screenshots/vdlogisticsDesktop1.png" alt="Screenshot Login VD Logistics Desktop" class="max-w-[80%] md:max-w-[50%] 2xl:max-w-[20%]">
    <div class="flex flex-col md:max-w-[80%] 2xl:max-w-[50%]">
      <p>{{ "projects.vdlogisticsDesktop.paragraph1" | translate }}</p>
      <p>{{ "projects.vdlogisticsDesktop.paragraph2" | translate }}</p>
      <p>{{ "projects.vdlogisticsDesktop.paragraph3" | translate }}</p>
      <p>{{ "projects.vdlogisticsDesktop.paragraph4" | translate }}</p>
      <p>{{ "projects.vdlogisticsDesktop.paragraph5" | translate }}</p>
      <p>{{ "projects.vdlogisticsDesktop.paragraph6" | translate }}</p>
      <a href="https://github.com/vdjoseluis/vd-logistics-desktop" target="_blank" class="flex gap-2 title-color pt-6 hover:underline" matTooltip="{{'visitRepository'| translate}}"><mat-icon>code</mat-icon>  https://github.com/vdjoseluis/vd-logistics-desktop</a>
    </div>
    <img src="/assets/screenshots/vdlogisticsDesktop2.png" alt="Screenshot Home VD Logistics Desktop" class="md:max-w-[60%] 2xl:max-w-[30%]">
    <img src="/assets/screenshots/vdlogisticsDesktop3.png" alt="Screenshot Form VD Logistics Desktop" class="md:max-w-[60%] 2xl:max-w-[30%]">
  </div>
</article>