@import "tailwindcss";

html, body {
  @apply min-h-screen bg-gray-200 text-slate-700;
}
body {
  margin: 0;
  font-family: Consolas;
}

:root {
  --text-color: #827878ff;
}

.dark {
  @apply min-h-screen bg-slate-800 text-emerald-50;
  --text-color: #c8beaaff;
}

.title-color {
  color: var(--text-color);
}