<main class="flex flex-col bg-orange-200 max-w-[60%] mx-auto">
  <div class="flex justify-between">
    <h1 class="ms-10 text-gray-800 text-4xl">Desarrollador Web</h1>
    <div class="flex gap-4 me-4">
      <span>Claro</span>
      <span>Español</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <nav class="flex justify-end gap-4 me-4">
    <a routerLink="/about">Acerca de mí</a>
    <a routerLink="/skills">Tecnologías</a>
    <a routerLink="/projects">Proyectos</a>
    <a routerLink="/contact">Contacto</a>
  </nav>
</main>